@viewport {
    zoom: 1;
    width: extended-to-zoom;
}

@-ms-viewport {
    width: extended-to-zoom;
    zoom: 1.0;
}

body {
    color: white;
    background-color: black;
    font-family: 'avenir';
    font-size: x-large;
    overflow: hidden;
}

position absulote h1 {
    text-align: center;
}

h3 {
    text-align: center;
    text-shadow: 3px 3px black;
}

h2 {
    text-align: center;
    color: white;
    background-color: black;
    margin: 0.8em;
}

h4 {
    text-align: center;
    color: red;
}

#knop {
    display: block;
    margin: auto;
}

a {
    text-decoration-line: none;
}

#getstart {
    height: 3em;
    width: 18em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#homepage {
    background-image: url(isgafotos/amsterdamw.jpeg);
    background-position: center;
    width: 200x 400x;
}

#homepage a {
    color: white;
}

#homepage ul {
    list-style: none;
    display: -moz-stack;
    text-align: center;
    padding: 0.2em;
    font-size: 16px;
}

nav ul li a {
    width: 23em;
    padding: 0.8em 0.01em 1em;
    margin-bottom: 0.2rem;
    background-color: red;
    font-size: 16px;
    letter-spacing: 0.4em;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#homepage header {
    margin: 0em;
    padding: 0em;
    background-color: black;
    border-radius: 25px;
}

a:visited {
    color: whitesmoke;
}

#docpage {
    background-image: url(isgafotos/documents.jpeg);
    background-position: center;
}

#docpage ul {
    list-style: none;
    display: -moz-stack;
    text-align: center;
    padding: 0.2em;
    margin: em;
    font-size: 16px;
}

#docpage a {
    color: white;
}

#docpage nav ul li a {
    display: block;
    width: 21em;
    padding: 1em 1em 1em;
    margin-bottom: 0.5rem;
    background-color: red;
    letter-spacing: 0.4em;
}

#fietserams {
    height: 21em;
    width: 14em;
    float: right;
}

#legconpage article {
    padding: 2em;
    margin: 3em;
}

#fotovandoc {
    height: 10em;
    width: 5em;
}

#bankiconen {
    list-style: none;
    margin: 0.1em;
    font-size: 16px;
}

#idback {
    background-color: black;
    text-align: left;
    border-radius: 0.5em;
}