@viewport {
    zoom: 1;
    width: extended-to-zoom;
}

@-ms-viewport {
    width: extended-to-zoom;
    zoom: 1.0;
}

ul {
    list-style-type: none;
}

body {
    color: white;
    background-color: black;
    font-family: 'avenir';
    font-size: 50px;
    overflow: hidden;
}

position absulote h1 {
    text-align: center;
}

h3 {
    text-align: center;
    text-shadow: 3px 3px black;
}

h2 {
    text-align: center;
    color: white;
    background-color: black;
    text-shadow: 3px 3px black;
    margin: 0.8em;
}

h4 {
    text-align: center;
    color: red;
}

#knop {
    display: block;
    margin: auto;
}

a {
    text-decoration-line: none;
}

#getstart {
    height: 8vh;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#homepage {
    background-image: url(isgafotos/amsterdamw.jpeg);
    background-position: center;
    width: 200x 400x;
}

#homepage a {
    color: white;
}

nav ul li a {
    padding: 1em 9em 1em;
    margin-bottom: 1.5rem;
    background-color: rgba(255, 0, 0, .8);
    font-size: 30px;
    letter-spacing: 0.4em;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8em;
    list-style: none;
    height: 10vh;
    width: 30vw;
    text-align: center;
}

header {
    margin: 0em;
    padding: 0em;
    background-color: black;
    border-radius: 25px;
}

a:visited {
    color: whitesmoke;
}

#helppage {
    background-image: url(isgafotos/trees.jpg);
}

#helppage article {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1em;
}

#docpage {
    background-image: url(isgafotos/documents.jpeg);
    background-position: center;
    font-size: 50px;
}

#docpage a {
    color: white;
}

#legconpage {
    background-image: url(isgafotos/haltemetro.jpg);
}

#legconpage article {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1em;
}

#fotovandoc {
    height: 10em;
    width: 5em;
}

#bankiconen {
    list-style: none;
    margin: 0.1em;
    font-size: 16px;
    display: flex;
    padding: 1em;
    flex-direction: column;
}

.grid {
    /* display: grid;
    grid-template-columns: 20vw 20vw;
    margin-bottom: 1.5rem; */
    text-align: center;
}

.grid p {
    font-size: 50px;
}

#idback {
    background-color: black text-align: left;
}

.icons {
    width: 30%;
}

form {
    justify-content: left;
    display: inline-block;
    padding: 5px 1px;
    width: 14%;
}

#helpme {
    color: red;
    text-decoration: underline;
}

#permitpage {
    background-image: url(isgafotos/bouwams.jpg);
    background-position: center;
    height: 5vh;
    font-size: 50px;
}

#permitpage article {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1em;
}

#checkperm {
    width: 10em;
    height: 10em;
    margin-left: auto;
    margin-right: auto;
}

#beginpage {
    background-color: white;
    align-content: center;
}

#bankpage {
    background-image: url(isgafotos/metro.jpg);
}

#bankpage p {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1em;
}